/* Css por: Gatho Download */
#postagem-header{
	width:840px;
	height:380px ;
}
.postagem-header-img{
	max-width: 100%;
    height: auto;
	}
.downloadbar-ul{background:#333; margin-top:0px; text-align:center; padding: 0; position:relative;}
.downloadbar-ul a:hover #downloadbar-li{background:green; transition-duration:1s;}
.downloadbar-ul a{color:#000;}
#downloadbar-li{
background: #00b351;
    display: inline-block;
    width: 180px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5px;
    border-color: #00b351;
    border-style: solid;
    border-width: thin;
	}
#downloadbar-li:hover .hvr-ico {
	transition-duration:1s;
	color:#FFF;
	padding-top:4px;
	}

.downloadbar-ico{
	float: left;
    vertical-align: middle;
    padding-left: 14%;
    font-size: 24pt;
    padding-top: 16px;	
}
#downloadbar-btn{
    text-align: left;
	float:left;
    position: relative;
	top: 50%;
	transform: translateY(-50%); 
	padding-left:10%;
	}
.downloadbar-btn-texto{
	font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 10pt;
    font-stretch: semi-condensed;
	color:#FFF;
	}
.downloadbar-btn-texto2{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#000;
	}
.postagem-menu-ico2{
	content:url(https://lh3.googleusercontent.com/om3FNHCaTSWMIpgVBX6GK9c2siyqDHanuyeog5tDn0gq__p6-6QHgJ8x99Gq8zfbiVOdNe2PNPZCdx2U0upIdMYj9cYQ4qBPVr74TW6kDtMLgBaN1N_WKZyWi6ibmyHGUKTht9kiyyrBvcv1oN6KUbZ2g1c1PqMXlNp5dbc9ZN18Eh-9HLJboLv-4VTKlGogoJesCpeXGjx_jhPqabDoK5iFeCtG1JLEmgXXF1b5K0hfR4KNhGEfT4LVonWL5a78rnos-y7S0nfdY5sz_JWMLVVYo1yqrm0K3pzzYXxMouMC9RrYusE6yZmp6zr7l53YLzKxZ_zzgq1QqzDiPX5tjS9AOLXqftwWNWBMsKLFUwg5kFFqrnImIis0M478PHEnU0zacdlQCo43SlTDSDtJjhcwfUZP_JxkBKG4jZ2nm-HMENazeseCvsD6ZI1K98RC0cqHpfDsLw2VVuYqEY-ue_ay2awNo7CJpAe76ZcNp9yFK-s1T73BzONaOVLmN2bh8-ZrgTlqpOOB7CM9VZXBavLin_9Ql9XUak-pfjR7_sjuYHQCwLBwRXz1DWvzC0xYttyW7Q5VT7GW4EDY0KvKqBHOy0VpIWVjOPItAh49lxOp0-A=w133-h50-no);
	vertical-align: middle;
    margin-left: -5px;
    margin-top: -11px;
    height: 45px;
}
.postagem-menu-ico1{
	content:url(https://lh3.googleusercontent.com/5RIBjw7Cjja05H9qv9ClElMkeIsZB--mWOaQu7kL36InvLl63YeToOnZ9B-bwDQN0mtNKPEcxa0TvHG7tEUp5Zh1QqkZHawis0hV04FIAXkCFRKKhzA1izgY2GFfFyQzY9EmtEkg5Ci0ikoLPTRmmgeQWL5P3X_FDX5FL6ATxU2_J5k1rvvag_jHgej-gAB6ltHTN4cEqLZ99XHL2yGi4jrU4k-1rOAouSVaRYGjLEM8cCfntltjAYdFE67m6-KHuwj7VgdzzoALIB6gfs6U0-nfkH4UbhRiD99Q5_HxtM7jMBCOXMU875azCGbLdZBoGzXSIk9nn1ZZEPQs-TCURl3YPfb2MsxhBImlQX4ZDn7VQ1ykhQpYvCU2axoLeZ8pvs3NX_LhU-sO4a0FW9_IpYnq4DrT_1g5RbEDJA_BOXQraI70K9YwQ3HTShBlsRgjRyqSif6hPpkmhhboj5Cn390vOj87QJAED7zxsCoweRFnkouqqyX9Whrucb4ftvYg2x6dcAfDkUiFeDprFQICb6Fi3LeT4Gllo5_I8dusht-mHqgAilS2lJQtbyMhQzXGQ-jKrWGclNRZ5dwdMaFfcqEDbCgcTE9EFqUwmyz1AjBPDBvayr8=w133-h50-no);
	vertical-align: middle;
    margin-right: -5px;
    margin-top: -11px;
    height: 45px;
}
.postagem-menu-a{font-family: 'Raleway', sans-serif;}
#postagem-video{width:80%; height:auto;}

.postagem-tabela{
	max-width:500px;
	padding:20px;
	}
.postagem-tabela-img{
	max-width:100%;
	height:auto;	
}
#postagem-subtitulo{
	font-family: 'Oswald', sans-serif;
	TEXT-ALIGN: center;
    font-size: 20px;
}
.postagem-font{
	font-family: 'Raleway', sans-serif;
}
.margempostagem{padding-left:10px;padding-right:10px;}
